/*	****************************************
	Base styles
	**************************************** */
html, body {
    margin: 0; /* typical - gets rid of the default margin on the BODY */
    height: 100%; /* required - makes sections act like pages */
}
/*	****************************************
	Persistent Navigation
	**************************************** */
.main-menu {
	position: fixed; /* required - magic */
	top: 0; /* required - makes sure the menu sits where it's supposed to sit */
	z-index: 1000; /* required - makes sure the menu doesn't get covered by anything else */
	width: 100%; /* required - makes the menu go all the way across the viewport */
	background-color: white; 
}
.main-menu ul {
	/* standard removal of UL styles */
	margin: 0;
	padding-left: 0;
	list-style-type: none;

	/* required - get LIs to line-up side-by-side */
	display: flex;
	justify-content: flex-end; /* optional - lookup lots of options */
}
.main-menu ul .items { 
	/* typical - make links look/act like buttons */
	display: block;
	padding: 15px;
	color: #004cff;
	/*color: #00c413;*/
	text-decoration: none;

	font-family: 'Josefin Sans', sans-serif;
	font-size: 23px;
	font-weight:400;
}
.main-menu ul .logo {
	display:block;
	padding-left:15px;
	padding-top:12px;
	text-decoration:none;
	position: absolute;
	left: 0;
	color: #004cff;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 27px;
	font-weight:700;
}
.main-menu a:hover { color: orange; }
#first h1 {
	color: #ffe100;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 50px;
	font-weight:400;
	padding:10px;
	margin:0px;
}	
#first h2 {
	color: #f2f2f2;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight:400;
	padding:10px;
	margin:0px;
}	
/*	****************************************
	Long-scrolly sections
	**************************************** */
section {
    min-height: 100%; /* required - makes the sections act like pages */
    padding-top: 75px; /* how tall is the persistent nav bar at the top? */
    padding-bottom: 0px; /* typical - keep content away from the next section */
    text-align: center; /* typical for long scrolly pages */
}
 /* typical - alter the bg for every other section */
section:nth-child(even) {background-color: #eee; }